textarea {
  width: 100%;
  height: auto;
  background-color: ghostwhite;
}

.note {
  font-size: 80%;
  font-style: italic;
}

.status {
  color: blue;
  font-weight: bold;
}

.warning {
  background-color: red;
  color:yellow;
  padding: 1em;
}